[submodule "dpf-widgets"]
	path = dpf-widgets
	url = https://github.com/DISTRHO/DPF-Widgets.git
[submodule "dpf"]
	path = dpf
	url = https://github.com/DISTRHO/DPF.git
[submodule "implot"]
	path = implot
	url = https://github.com/epezent/implot
[submodule "sst-filters"]
	path = sst-filters
	url = https://github.com/surge-synthesizer/sst-filters
[submodule "chowdsp_utils"]
	path = chowdsp_utils
	url = https://github.com/Chowdhury-DSP/chowdsp_utils
[submodule "chowdsp_wdf"]
	path = chowdsp_wdf
	url = https://github.com/Chowdhury-DSP/chowdsp_wdf
